@{
    ViewBag.Title = "About";
}
<h2>Info</h2>
<h3>
    Esta proyecto se redacta en un cruds necesarios para la vida real de una ferreterai
    teniendo en cuanta las necesidad
    es mas basicas de un cliente.
</h3>
<p>En pocas palabras, CRUD resume las funciones requeridas por un usuario para crear y gestionar datos.
    Varios procesos de gestión de datos están basados en CRUD, en los que dichas operaciones están específicamente adaptadas a los requisitos del 
    sistema y de usuario, ya sea para la gestión de bases de datos o para el uso de aplicaciones. Para los expertos, las operaciones son las herramientas de acceso 
    típicas e indispensables para comprobar, por ejemplo, los problemas de la base de datos, mientras que para los usuarios, 
    CRUD significa crear una cuenta (créate) y utilizarla (read),
    actualizarla (update) o borrarla (delete) en cualquier momento.</p>
