@{
    ViewBag.Title = "Contact";
}
<h2>creador.</h2>
<h3>oficina</h3>

<address>
    <strong>Support:</strong>   <a href="">duvanvivas100@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="">3106252922</a>
</address>